
@page "/Premium"

<h1 style="display: flex;
    justify-content: center;
    align-items: center;">
    Quét mã để đăng ký Premium
</h1>

<div class="qrcode">
    <QrCode Text="/Premium/Register" Size="360" />
</div>



