@page "/admin/add-Artist"
@page "/admin/add-Artist/{id:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IConfiguration config
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles ="Admin")]

<div>
    <section>
        <div class="container">
            <div class="form-group">
                <h1 style="text-align:center;margin-bottom:20px">Nghệ sĩ</h1>
                <EditForm Model="artists" class="form" OnValidSubmit="HandleSubmit" enctype="multipart/form-data" Enhance>
                    <div class="create-group">
                        <div class="input name">
                            <label for="Name">Tên Nghệ Sĩ</label>
                            <InputText @bind-Value="artists.ArtistName" class="form-control inputtext" id="Name" type="text" placeholder="Tên Nghệ Sĩ" />
                        </div>
                        <div class="input description">
                            <label for="Description">Mô Tả</label>
                            <InputText @bind-Value="artists.ArtistDescription" class="form-control inputtext" type="text" placeholder="Mô tả" />
                        </div>
                        <div class="input type">
                            <label for="Type">Thể Loại</label>
                            <InputText @bind-Value="artists.Type" class="form-control inputtext" type="text" placeholder="Thể loại" />
                        </div>
                        <div class="input genres">
                            <label for="Genres" style="width:100%">Giới tính</label>
                            <InputRadioGroup Name="Genres" @bind-Value="artists.Genres" class="form-control inputgenres">
                                <InputRadio Value="@("Man")" style="outline:none ;margin: 15px 15px;" />Man
                                <InputRadio Value="@("Woman")" style="outline:none;margin: 15px 15px;" />Woman
                                <InputRadio Value="@("Others")" style="outline:none;margin: 15px 15px;" />Others
                            </InputRadioGroup>
                        </div>
                        <div class="input img">
                            <label for="upload_img">Hình ảnh</label>
                            <InputFile style="display:none" name="artists.ArtistImage" class="form-control" multiple id="upload_img" accept=".png,.jpg,.jpeg" OnChange="@HandleSelectedFile" />
                            <img id="image-preview" src="#" alt="Image Preview" style="display: none;">
                        </div>
                    </div>
                    <div class="upload-group">
                        <div class="create-btn">
                            <button type="submit" class="btn btn-primary">UPLOAD</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </section>
</div>




<script>
    window.previewImage = function (inputId, outputId) {
        const input = document.getElementById(inputId);
        const files = input.files;

        if (files.length > 0) {
            const fileReader = new FileReader();
            fileReader.onload = function () {
                const output = document.getElementById(outputId);
                output.src = fileReader.result;
                output.style.display = 'block';
            };
            fileReader.readAsDataURL(files[0]);
        }

    };



</script>
